{% import_yaml "keepalived/defaults.yaml" as defaults %}
{% set keepalived = salt['pillar.get']( 'keepalived', default=defaults.keepalived, merge=True) %}


{% import_yaml "keepalived/defaults_check.yaml" as defaults_check %}
{% set keepalived_check = salt['pillar.get']( 'keepalived_check', default=defaults_check.keepalived_check, merge=True) %}
